[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/lunarplums/Desktop/problemos]
row=4
col=0

[/home/lunarplums/Desktop/send2fire]
row=3
col=0

[/home/lunarplums/Desktop/14-487-261-S99.jpg]
row=10
col=0

[/home/lunarplums/Desktop/r2modman-3.1.25.AppImage]
row=5
col=0

[/home/lunarplums/Desktop/81KYI2whMvL._AC_SL1500_.jpg]
row=8
col=0

[/home/lunarplums/Desktop/send2fire.zip]
row=6
col=0

[/home/lunarplums/Desktop/freak_fortress_2]
row=1
col=0

[/home/lunarplums/Desktop/New Folder]
row=2
col=0

[/home/lunarplums/Desktop/winver.desktop]
row=7
col=0

[Trash]
row=0
col=0

