[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/lunarplums/Desktop/20201014173648_1.jpg]
row=6
col=0

[/home/lunarplums/Desktop/battleblock]
row=7
col=0

[/home/lunarplums/Desktop/Files]
row=8
col=0

[/home/lunarplums/Desktop/retro.png]
row=1
col=1

[/home/lunarplums/Desktop/WACUP.desktop]
row=0
col=1

[/home/lunarplums/Desktop/2022-02-13-182222_1600x600_scrot.png]
row=2
col=1

[A640FD3840FD0FB3]
row=1
col=0

[0C1AED9A1AED8156]
row=0
col=0

[CA7ACD157ACCFEE7]
row=2
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/lunarplums]
row=5
col=0

