[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/lunarplums/Desktop/corpse party artwork]
row=2
col=0

[/home/lunarplums/Desktop/Testin]
row=7
col=0

[/home/lunarplums/Desktop/WACUP.desktop]
row=10
col=0

[/home/lunarplums/Desktop/VendingEmote]
row=8
col=0

[/home/lunarplums/Desktop/discord - expanded]
row=3
col=0

[/home/lunarplums/Desktop/Win2K Tahoma]
row=9
col=0

[/home/lunarplums/Desktop/MidNightEmote]
row=5
col=0

[/home/lunarplums/Desktop/Personal]
row=6
col=0

[/home/lunarplums/Desktop/Yuzuki_Kokubunji.wsz]
row=11
col=0

[/home/lunarplums/Desktop/Emojis_Mid_Night_old]
row=4
col=0

[/home/lunarplums/Desktop/Areo]
row=1
col=0

[Trash]
row=0
col=0

