[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/lunarplums/Desktop/unknown-24.png]
row=4
col=0

[/home/lunarplums/Desktop/MidNightAssets]
row=3
col=0

[/home/lunarplums/Desktop/GTK]
row=2
col=0

[/home/lunarplums/Desktop/Files]
row=1
col=0

[/home/lunarplums/Desktop/GameMaker]
row=1
col=1

[/home/lunarplums/Desktop/Desktop]
row=0
col=1

[Trash]
row=0
col=0

