[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/lunarplums/Desktop/WACUP.desktop]
row=2
col=0

[/home/lunarplums/Desktop/MSSansSerifBitmap-Bold.ttf]
row=3
col=0

[/home/lunarplums/Desktop/Files]
row=1
col=0

[/home/lunarplums/Desktop/Win95-Config]
row=6
col=0

[/home/lunarplums/Desktop/MSSansSerifBitmap-Regular.ttf]
row=4
col=0

[/home/lunarplums/Desktop/win95.png]
row=5
col=0

[Trash]
row=0
col=0

