[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/lunarplums/Desktop/Steam.desktop]
row=5
col=0

[/home/lunarplums/Desktop/sonic3air_game]
row=1
col=0

[/home/lunarplums/Desktop/128-1282994_bacon-hair-roblox-bacon-hair-noob.jpg]
row=2
col=0

[/home/lunarplums/Desktop/midnight invite link]
row=6
col=0

[/home/lunarplums/Desktop/problemos]
row=4
col=0

[/home/lunarplums/Desktop/winver.desktop]
row=3
col=0

[Trash]
row=0
col=0

