[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/lunarplums/Desktop/problemos]
row=8
col=0

[/home/lunarplums/Desktop/Areo]
row=1
col=0

[/home/lunarplums/Desktop/steam.desktop]
row=2
col=0

[/home/lunarplums/Desktop/enable_mic.sh]
row=5
col=0

[/home/lunarplums/Desktop/ff_binds_pt2.txt]
row=6
col=0

[/home/lunarplums/Desktop/discord.desktop]
row=4
col=0

[/home/lunarplums/Desktop/send2fire.zip]
row=9
col=0

[/home/lunarplums/Desktop/WACUP.desktop]
row=11
col=0

[/home/lunarplums/Desktop/corpse party artwork]
row=12
col=0

[/home/lunarplums/Desktop/Admin Application]
row=10
col=0

[/home/lunarplums/Desktop/winver.desktop]
row=3
col=0

[/home/lunarplums/Desktop/New File]
row=13
col=0

[/home/lunarplums/Desktop/gpus]
row=7
col=0

[Trash]
row=0
col=0

