/************
 * combobox *
 ************/

/*
   Contributor notes:
   Please use two space indentions.
   Stack all related and child selectors and selector states into a logical hierarchy to a readable degree.
   Make sure that all changes made here are part of the GtkCombobox.
*/

/* Combobox */
combobox {
  margin-top: 1px;
  margin-bottom: 1px;
  border: 2px solid @border_dark;
  border-image: url("assets/entry.png");
  border-image-slice: 2 2 2 2;
  background-color: @bg_color; }
  combobox button:focus,
  combobox button {
    background-image: url("combobox/combobox_button_normal.png");
    background-color: @bg_bright;
    background-position: right;
    background-repeat:   no-repeat;
    background-size:     contain;
    border-width:        0px;
    margin:              0px;
    min-height:          17px;
    min-width:           16px; }
    combobox button:active,
    combobox button:checked {
      background-image: url("combobox/combobox_button_active.png");
      background-position: right;
      background-repeat:   no-repeat;
      background-size:     contain;
      border-width:        0px;
      margin:              0px;
      min-height:          17px;
      min-width:           16px; }
    combobox button:disabled {
      background-image: url("combobox/combobox_button_insense.png");
      background-position: right;
      background-repeat:   no-repeat;
      background-size:     contain;
      border-width:        0px;
      margin:              0px;
      min-height:          17px;
      min-width:           16px; }
    * combobox button {
        padding-left: 0px; }

/* Combobox entry */
combobox entry {
  /* This will move combobox buttons into the entry
   * Libre Office is particular about the positioning of the button, or else it will hide the right side entry border. */
  margin-right: -0px;
  border-width: 0px;
  padding-right: 0px; }
/* Since the above margins are not enough for regular GTK applications, we can use the following. LibreOffice VCL doesn't support the asterisk * wildcard selector in this case. */
  * combobox entry {
    margin-top: 0px;
    margin-right:  0px;
    padding-right: 0px; }

/* Combobox window and menu decorations */
combobox window decoration {
  padding: 0px;    /* Padding is not required here. */
  border: 1px solid @border_dark; }    /* Need to make the border 1px and a solid colour. */
combobox window .context-menu,
combobox window menu {    /* The combobox window menu is included for sub-menus that branch off of the .context-menu. */
  background-color: @bg_bright;    /* Background colour needs to be applied. */
  border: none; }    /* Borders are not necessary here. */
  combobox window .context-menu menuitem {
    padding: 1px; }    /* Menuitems need only be 1px. */
    combobox window .context-menu separator {
      margin-left: 1px;    /* A margin is required so that the separator isn't touching the menu border. */
      margin-right: 1px; }    /* A margin is required so that the separator isn't touching the menu border. */
#gtk-combobox-popup-menu,
#gtk-combobox-popup-menu window {
  padding: 1px;
  border: 1px solid @border_dark;    /* Borders are not necessary here. */
  box-shadow: none;    /* Box shadows are not necessary here. */
  background-color: @bg_bright; }    /* Background colour needs to be applied. */
  #gtk-combobox-popup-menu arrow  {
    -gtk-icon-source: none; }
  #gtk-combobox-popup-menu menuitem {
    padding: 0px;    /* Remove any inherited padding. */
    padding-left: 1px;    /* Need padding on the left to keep menuitem images from touching the border. */
    padding-right: 0px;    /* Need padding on the right to keep menuitem images from touching the border. */
    min-height: 13px; }
