[Settings]
ShowAllProcesses=FALSE
ShowLegend=FALSE
MorePrecision=TRUE
FullCommandLine=FALSE
ShowStatusIcon=FALSE
MonitorPaintBox=TRUE
ShowApplicationIcons=TRUE
ToolbarStyle=DEFAULT
PromptTerminateTask=TRUE
RefreshRate=1000
ColumnsPositions=0;1;6;7;4;5;2;3;8;
ColumnUID=TRUE
ColumnPID=TRUE
ColumnPPID=FALSE
ColumnState=FALSE
ColumnVSZ=FALSE
ColumnRSS=TRUE
ColumnCPU=TRUE
ColumnPriority=FALSE
SortColumn=5
SortType=1
WindowWidth=913
WindowHeight=664
HandlePosition=100
ProcessTreeView=FALSE
